/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.header{
    height: 70px;
    margin: 2px;
    padding: 2px;
    background-color: #C8FFF1;
    border-radius: 15px;
}

.chat_title{
    font-family: Impact;
    font-size: x-large;
    color: blue;
}

.chat_link{
    font-size: small;
    text-align: right;
    word-spacing: 5px;
}

.main{
    margin:1em auto;
    padding:0;
    text-align:center;
    border-radius: 20px;
    background-color: #E3FFF9;
}

h2{
    font-family: Impact;
    color: blue;
}