// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice{
    color: coral;
    font-size: large;
    font-family: Impact;
}

.display{
}

.user{
    color: blue;
    font-size: large;
    font-weight: bold;
}

.tweet{
    font-size: large;
}

.tweet_action{
    font-size: x-small;
    word-spacing: 5px;
}


#delimiter{
/*
    border: 2px solid;
*/
}

#tweet_table{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#tweet_table tr td {
    text-align: left;
}

#tweet_table tr:nth-child(odd) td {
/*
    background-color: lavender;
    border-radius: 15px;
*/
}


#comment_table{
    width: 90%;
    margin-left:auto;
    background-color: whitesmoke;
}

